* {
    margin: 0px;
    padding: 0px;
}

.nav1 {
    background-color: #FF7E4F;
}

button {
    border: none;
    background: none;
}

.news-item {
    float: left;
    width: 100%;
    margin-top: 30px;
}

.news-images {
    float: left;
    width: 30%;
    margin-right: 4%;
}

.news-images img {
    max-width: 100%;
}

.news-content {
    float: left;
    width: 66%;
}